include README.md
include SDK_API.md
include pyproject.toml
include setup.py
include MANIFEST.in
recursive-include include *.h *.hpp
recursive-include src/pusher *.c *.cpp *.py py.typed
recursive-include scripts *.sh *.ps1
recursive-include examples *.py
recursive-include tests *.py
prune third_party
prune lib
prune .ffmpeg-prefix
recursive-exclude build *
recursive-exclude dist *
recursive-exclude .pytest_cache *
recursive-exclude **/__pycache__ *
global-exclude *.py[cod]
global-exclude *.lib
global-exclude *.exp
global-exclude *.pdb
global-exclude *.so
global-exclude *.pyd
global-exclude *.dll
global-exclude *.dylib
